body {
	font: 100%/1.5 Helvetica Neue, sans-serif;
}

input, textarea {
	font: inherit;
}

#cssForm label {
	display: block;
}

#cssForm input,
#cssForm textarea {
	width: 100%;
	box-sizing: border-box;
	display: block;
}

#cssForm textarea,
pre {
	font-family: Consolas, Monaco, monospace;
}

pre {
	overflow: auto;
}

input:invalid,
textarea:invalid {
	color: #c00;
}

textarea {
	min-height: calc(var(--lines, 1) * 1.5em);
}
